* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(148deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 7px 18px 6px rgba(0, 0, 0, 0.15);
}

.main-container,
.actions-container {
  display: flex;
  width: 100%;
  padding: 2rem 3rem 1rem 3rem;
  gap: 1rem;
  align-items: stretch;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.user-profile {
  display: flex;
}

.user-img-container {
  width: 100px;
  height: 100px;
}

.user-img,
.friend-img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.user-name {
  font-size: 2rem;
  font-weight: bold;
}

.user-location {
  font-size: 1.2rem;
  font-weight: 500;
}

.quote-text,
.about-text {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.pokemon-container {
  display: flex;
  align-items: center;
}

.pokemon-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.about-text {
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.friends-container {
  width: 30%;
}

.friends-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.friend {
  display: flex;
  align-items: center;
  box-shadow: 1px 7px 18px 6px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.friend-img-container {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.friend-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.actions-container {
  padding-top: 0;
  width: 100%;
}

.actions-container > button {
  width: 40%;
  border: none;
  padding: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
